<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="lt" lang="lt">
<head>
    <title>Duomenu keitimas</title>
    <link href="/styles/base.css" type="text/css" rel="stylesheet">
</head>
<body>    
    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
    {% if form %}    
    <form action="." method="post" enctype="multipart/form-data">
        <div class = "edit_profile">
            <table id = "table_pagr_info">
                {% if error %}
                <tr>
                    <td colspan = "2"><span class = "error">{{ error }}</span></td>
                </tr>
                {% endif %}
                <th>Pagrindine informacija</th>
                <tr>
                    <td>
                        <label for = "Vardas">Vardas*</label>
                        {% for error in  form.Vardas.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Vardas }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Pavarde">Pavarde*</label>
                        {% for error in  form.Pavarde.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Pavarde }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Gimtadienis">Gimtadienis<br/>(MMMM-MM-DD)</label>
                        {% for error in  form.Gimtadienis.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Gimtadienis }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "El_pastas">El pastas*</label>
                        {% for error in  form.El_pastas.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.El_pastas }}
                    </td>
                </tr>
            </table>
            <div class = "form_separator"><hr/></div>
            <table id = "gyvenamoji_vieta">
                <th>Gyvenamoji vieta</th>
                <tr>
                    <td>
                        <label for = "Salis">Salis</label>
                        {% for error in  form.Salis.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Salis }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Miestas">Miestas</label>
                        {% for error in  form.Miestas.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Miestas }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Adresas">Adresas</label>
                        {% for error in  form.Adresas.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Adresas }}
                    </td>
                </tr>
            </table>
            <div class = "form_separator"><hr/></div>
            <table id = "issilavinimas">
                <th>Issilavinimas</th>
                <tr>
                    <td>
                        <label for = "Vidurine_mokykla">Vidurine mokykla</label>
                        {% for error in  form.Vidurine_mokykla.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Vidurine_mokykla }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Vid_mokyklos_baigimo_metai">Vid mokyklos baigimo metai<br/>(MMMM-MM-DD)</label>
                        {% for error in  form.Vidurine_mokykla.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Vid_mokyklos_baigimo_metai }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Aukstoji_mokykla">Aukstoji mokykla</label>
                        {% for error in  form.Aukstoji_mokykla.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Aukstoji_mokykla }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Aukst_mokyklos_baigimo_metai">Aukst mokyklos baigimo metai<br/>(MMMM-MM-DD)</label>
                        {% for error in  form.Aukst_mokyklos_baigimo_metai.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Aukst_mokyklos_baigimo_metai }}
                    </td>
                </tr>
            </table>
            <div class = "form_separator"><hr/></div>
            <table>
                <tr>
                    <td>
                        <label for = "Slaptazodis">Slaptazodis*</label>
                        {% for error in  form.Slaptazodis.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Slaptazodis }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "Pakartoti_slaptazodi">Pakartoti slaptazodi*</label>
                        {% for error in  form.Pakartoti_slaptazodi.errors %}
                            <br/><span class = "error">{{ error }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.Pakartoti_slaptazodi }}
                    </td>
                </tr>
            </table>
            <div class = "form_separator"><hr/></div>
            <table>
                <tr>
                    <td><input class = "button" type = "submit" value = "Saugoti duomenis" /></td>
                </tr>
            </table>
        </div>        
    </form>
    {% else %}
    <button class = "button" type="button" onclick = "window.close()">Uzdaryti langa</button>
    {% endif %}
</body>
</html>
