
#content {
    clear: both;
}
#content table {
    margin: 10px;
}
#content h1 {
    font-size: 12pt;
    margin: 10px 0 0 10px;
}
#content .button {
    margin: 10px;
}


/*
*   Pagrindinio puslapio stilius
*/
#home {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#home #draugai {
    border: thin silver solid;
    background-color: #009999;
    width: 340px;
    height: 200px;
    float: left;
    margin-bottom: 10px;
}
#home #nuotraukos {
    border: thin silver solid;
    background-color: #009999;
    width: 340px;
    height: 200px;
    float: right;
    margin-bottom: 10px;
}
#home #laiskai {
    border: thin silver solid;
    background-color: #009999;
    width: 700px;
    height: 200px;
    clear: both;
}

/*
*   Asmenines informacijos puslapio stilius
*/
.informacija { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: thin silver solid;
    background-color: #009999;
    width: 500px;
}
.informacija th {
    text-align: left;
}
.informacija ul {
    list-style: none;
    float: right;
}
#content .informacija li .button {
    margin: 5px;
    padding: 0;
}
.informacija img {
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
}

/*
*   Paieskos rezultatu puslapio stilius
*/
.paieskos_rezultatai {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: thin silver solid;
    background-color: #009999;
    width: 620px;
}
.paieskos_rezultatai img {
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    display: block;
    margin: auto;
}
.paieskos_rezultatai table {
    width: 600px;
}
.paieskos_rezultatai tr:hover {
    background-color: #00CCCC;     
}
.paieskos_rezultatai th { 
    background-color: #00CCCC;
}
.paieskos_rezultatai td {   
    border-top: 10px #009999 solid;
}
.paieskos_rezultatai td:hover {
    cursor: pointer;
}
.paieskos_rezultatai p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;    
}


/*
*   Pasto dezutes stilius
*/
.pastas {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: thin silver solid;
    background-color: #009999;
    width: 620px;
}
.pastas table {
    width: 600px;
}
.pastas tr:hover {
    background-color: #00CCCC;     
}
.pastas th { 
    background-color: #00CCCC;
}
.pastas td {   
    border-bottom: 1px silver solid;
}
.pastas td:hover {
    cursor: pointer;
}
.nauji {
    background-color: #62A9FF;
}

/*
*   Nuotrauku albumu stiliai
*/
.albumai {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: thin silver solid;
    background-color: #009999;
    width: 620px;
    min-height: 100px;
}
.albumas {
    margin: 10px 20px;    
    width: 100px;   
    display: inline;
}
.albumas img {
    border: thin silver solid;
    width: 100px;
    height: 100px;
}
.albumas .pavadinimas {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
}
.albumai div {
    display: inline-block;
}
.albumas img:hover {
    border: 2px #00CCCC solid;
    cursor: pointer;
}
/*
*   Nuotrauku albumo stilius
*/
.nuotraukos {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: thin silver solid;
    background-color: #009999;
    width: 620px;
    min-height: 100px;
}
.nuotraukos .nuotrauka {
    margin: 10px 20px;    
    width: 100px;   
    display: inline-block;
}
.nuotraukos img {
    border: thin silver solid;
    width: 100px;
    height: 100px;
}
.nuotraukos img:hover {
    border: 1px #00CCCC solid;
    cursor: pointer;
}
.nuotraukos .check {
    margin: 0
}
.nuotraukos .error {
    margin: 10px
}