{% extends "base.html" %}

{% block title %}Gauti laiskai{% endblock %}

{% block content %}
<div class = "pastas">
    {% load mail_extras %}
    <button class = "button" type = "button" onclick = "window.open('/mail/outbox/', '_self')">I issiustus laiskus</button>
    <button class = "button" type = "button" onclick = "window.open('/mail/message_form/', 'newletter', 'width=500, height=250')">Rasyti laiska</button>    
    {% if user.gautaslaiskas_set.all %}
    <button class = "button" type = "button" onclick = "window.open('/mail/trinti_gautus/', '_self')">Trinti laiskus</button>
    <h1>Gauti laiskai</h1>
    <table>
        <tr>
            <th>Data</th><th>Laikas</th><th>Siuntejas</th><th>Antraste</th>
        </tr>
        {% for laiskas in user.gautaslaiskas_set.all|nauji_laiskai %}
            <tr class = "nauji" onclick = "window.open('/mail/gautas_laiskas/?id={{laiskas.id}}', 'letter','width=780,height=430'), window.location.reload(true)">
                <td>{{ laiskas.data.date }}</td>
                <td>{{ laiskas.data.time|time:"H:i" }}</td>
                <td>{{ laiskas.siuntejas }}</td>
                {% if laiskas.antraste %}
                    <td>{{ laiskas.antraste }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% for laiskas in user.gautaslaiskas_set.all|seni_laiskai %}
            <tr class = "seni" onclick = "window.open('/mail/gautas_laiskas/?id={{laiskas.id}}', 'letter','width=780,height=430'), window.location.reload(true)">
                <td>{{ laiskas.data.date }}</td>
                <td>{{ laiskas.data.time|time:"H:i" }}</td>
                <td>{{ laiskas.siuntejas }}</td>
                {% if laiskas.antraste %}
                    <td>{{ laiskas.antraste }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Gautu laisku nera</h1>
    {% endif %}
</div>
{% endblock %}